@import url('https://fonts.googleapis.com/css2?family=Foldit:wght@700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Foldit:wght@700;800&family=Lemon&display=swap');

.main{
    background-image: url("../../asset/images/bg.png");
    background-size: cover;
    min-height: 100vh;
    width: 100%px;
}

.footer {
    font-family: 'Foldit', sans-serif;
    font-family: 'Lemon', serif;
    font-size: 0.9rem;
    position: fixed; /* Cố định vị trí */
    bottom: 0; /* Hiển thị ở dưới cùng */
    padding: 15px 0 ;
    text-align: center;
    width: 100%;
    color: white;
    background: #efeded24;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-top: 1.5px solid white;     
    border-bottom: 1.5px solid white;

}