@import url('https://fonts.googleapis.com/css2?family=Foldit:wght@700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Foldit:wght@700;800&family=Lemon&display=swap');
@import url('https://fonts.cdnfonts.com/css/gameboy-gamegirl');
@import url('https://fonts.cdnfonts.com/css/game-power');
@import url('https://fonts.cdnfonts.com/css/space-games');


.container{
    
    &.gameMode{   
      
      
      .gameMode{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 70px;

        .gameMode__title{
          font-size: 8rem;
          font-family: 'Space Games', sans-serif;                                                           
          color: white;
          letter-spacing: .05em;
          text-shadow: 4px 4px 0px #443f3f, 7px 7px 0px rgba(0, 0, 0, 0.2);
          animation: shakeRotate 0.5s infinite; /* Lặp vô hạn animation */
        }
        
        .row{
          //  display: flex;
            // flex-direction: column;
            // justify-content: center;
          .gameMode__box{
            width: 300px;
            height: 250px;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            border-radius: 50px;
            background: #d7d7d733;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
            border-top: 1.5px solid white;     
            border-bottom: 1.5px solid white;    
    
            opacity: 0; /* Ẩn phần tử khi chưa xuất hiện */
            animation: fadeInDown 2s ease-out forwards; /* Áp dụng animation trong 1 giây */
    
    
            .box{
                opacity: 0.8;
                margin: 25px 10px;
                transition: transform 0.3s ease-in-out; 
                &:hover{
                    transform: scale(1.1);  
    
                }
            }
    
            a{
                color: white;
                text-decoration: none;
                font-size: 1.5rem;
                font-family: 'Foldit', sans-serif;
                font-family: 'Lemon', serif;
                padding: 10px 20px;
                border-radius: 30px;
                border-bottom: 1px solid white;
    
                letter-spacing: .02em;
                text-shadow: 0px 4px 0px #565563, 7px 4px 0px rgba(0, 0, 0, 0.2);
    
                &:hover{
                    transition: transform 0.4s ease;
                    background-color: #2d2a5a;
                    border-top: 1px solid white;
                }
                
            }
        }
        }
        
      }
    
    
  }
}

@keyframes shakeRotate {
    0%, 100% {
      transform: rotate(0deg); /* Không xoay */
    }
    15% {
      transform: rotate(-1deg); /* Xoay âm 10 độ */
    }
    50% {
      transform: rotate(10deg); /* Xoay dương 10 độ */
    }
    75% {
      transform: rotate(-1deg); /* Xoay âm 10 độ */
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-100px); /* Di chuyển lên trên 50px */
      }
      100% {
        opacity: 1;
        transform: translateY(0); /* Hiển thị ở vị trí ban đầu */
      }
}